PORT=3000
NODE_ENV=development
APP_URL=localhost:3000
FRONTEND_URL=localhost:3001
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=your_db_user_here
DATABASE_PASSWORD=your_db_password_here
DATABASE_NAME=your_db_name_here
DATABASE_SYNC=false
DATABASE_LOGGING=false
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=24h
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
REFRESH_TOKEN_EXPIRE=7d
PAYSTACK_SECRET_KEY=your_paystack_secret_key_here
FLUTTERWAVE_SECRET_KEY=your_flutterwave_secret_key_here
FLUTTERWAVE_HASH=your_flutterwave_hash_here
TERMII_API_KEY=your_termii_api_key_here
TERMII_SENDER_ID=your_termii_sender_id_here
TERMII_BASE_URL=https://v3.api.termii.com
TERMII_CHANNEL=generic
MAIL_PROVIDER=resend
RESEND_API_KEY=your_resend_api_key_here
RESEND_FROM=your_email_sender_domain_here
API_VERSION=v1
CORS_ORIGIN=http://localhost:3001
TZ=Africa/Lagos
